RewriteEngine On
RewriteBase /

# Redirect "/home.html" to "/"
RewriteRule ^home\.html$ / [R=301,L]

# Redirect requests without extension to ".html" file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]

# Redirect requests without extension to ".php" file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]
